.cardHoverEffect:hover {
    transition: transform 0.1s ease-in-out;
}

.cardHoverEffect:hover {
    transform: scale(1.05);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradientBackground {
  width: 100%;
  background: linear-gradient(135deg, #D1E8E2, #19747E, #A9D6E5, #E2E2E2);
  padding: 20px 0; /* Reduced from 40px to 20px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: gradientShift 10s ease infinite;
  background-size: 200% 200%;
}

.titleText {
    text-align: center;
    color: #F5F5F5;
    font-size: 1rem; /* Reduced from 3rem to 2rem */
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}